<%= render 'form' %>

<%= link_to "Back to to Do list", tasks_path %>



<!-- <form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="description">Description: </label>
  <input type="text" name="task[description]" id="description">

  <input type="submit">
</form> -->

